
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;      
    display: flex;
    flex-direction: column; 
}

/* header */
.hero {
    height: 75vh;           
    width: 100%;
    background:
        linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 20px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: white; 
}

.hero p.tagline {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}

/* --- Search Bar Container & Elements --- */
form {
    width: 100%;
    max-width: 500px; 
    display: flex;
    justify-content: center;
}

header form .search-container {
    position: relative;
    width: 100%; 
}

header form .search-container input {
    width: 100%;
    font-size: 18px;
    padding: 15px 50px 15px 20px; 
    border-radius: 30px; 
    border: none;
    background: #eee;
    outline: none;
}

header form .search-container .material-symbols-outlined {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); 
    color: #777;
    cursor: pointer;
}

/* Main */
main {
    flex: 1;                
    min-height: 25vh;       
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    background-color: #fff;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;          
}

/* --- Empty State Box --- */
.empty-state {
    text-align: center;     
    margin-top: 40px;       
}

/* --- Image Grid & Wrapper Gallery --- */
.images-container {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.images-container img {
    width: 300px;
    height: 280px;
}

.images-container .imageDiv {
    position: relative;
}

/* --- Image Hover Effects & Overlays --- */
.images-container .overlay {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    transition: height 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv:hover .overlay {
    height: 100%;
}

.imageDiv .overlay h3 {
    color: #767676;
    display: none;
    text-align: center;
    font-size: 20px;
}

.imageDiv:hover .overlay h3 {
    display: block;
}

/* --- Load More Button --- */
.loadMoreBtn {
    border: none;
    background-color: #778899;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    margin-bottom: 40px;   
}

/*responsive media queris */
@media screen and (max-width: 920px) {
    form {
        width: 90%;
    }
}